{% extends 'admin/layout/layout_main.html.twig' %}

{% block title_detailed %}All Promo Codes{% endblock %}

{% block body %}
    <div class="container-fluid">

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                {% include 'admin/embed/card/_header_action.html.twig' with {
                    'sectionTitle': 'Promotional Codes',
                    'actionUrl': path('admin_promo_code_add')
                } %}
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title and Discount</th>
                            <th>Description</th>
                            <th>Left Uses</th>
                            <th>Code</th>
                            <th>Is active</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for promoCode in promoCodeList %}
                                <tr>
                                    <td>{{ promoCode.id }}</td>
                                    <td style="text-align: center; color: grey; font-size: 18px">
                                        {{ promoCode.title }}<br/>
                                        <span style="color: red; font-weight: 700">- {{ promoCode.discount }}%</span>
                                    </td>
                                    <td>{{ promoCode.description }}</td>
                                    <td>{{ promoCode.uses }}</td>
                                    <td style="font-size: 12px;">
                                        <span style="background-color: #efefef;">{{ promoCode.value }}</span>
                                    </td>
                                    <td>
                                        {% if promoCode.isActive %}
                                            <span class="text-success">is active</span>
                                        {% else %}
                                            <span class="text-gray-300">is not active</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{{ path('admin_promo_code_edit', {'id': promoCode.id}) }}" class="btn btn-outline-info">Edit</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
