{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('appMainCartShow') }}
{% endblock %}

{% block body %}
    <div class="page-content">
        <div class="cart">
            <div class="container">
                <div id="app"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        if (typeof window.staticStore === 'undefined') {
            window.staticStore = {}
        }
        window.staticStore.urlCartIndex = "{{ path('cart_index') }}"
        window.staticStore.urlProductShow = "{{ path('product_show_blank') }}"
        window.staticStore.urlMakeCartOrder = "{{ path('cart_make_order') }}"
        window.staticStore.urlApprovePromoCode = "{{ path('cart_approve_promo_code') }}"
        window.staticStore.urlAssetImageProducts = "{{ asset('uploads/images/products') }}"
    </script>
    {{ encore_entry_script_tags('appMainCartShow') }}
{% endblock %}
