{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('assets/images/backgrounds/login-bg.jpg')">
        <div class="container">
            <div class="form-box">
                <div class="form-tab">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">
                            <h1 class="h3 mb-3 font-weight-normal">Registration form</h1>
                            {{ form_start(registrationForm) }}

                            <div class="form-group">
                                {{ form_label(registrationForm.email) }}
                                {{ form_widget(registrationForm.email, {'attr': {
                                    'class': 'form-control',
                                    'required': 'required',
                                    'autofocus': 'autofocus'}}) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(registrationForm.plainPassword) }}
                                {{ form_widget(registrationForm.plainPassword, {'attr': {
                                    'class': 'form-control',
                                    'required': 'required',
                                    'autofocus': 'autofocus'}}) }}
                            </div>

                            <div class="form-footer">
                                <button type="submit" class="btn btn-outline-primary-2">
                                    <span>SIGN UP</span>
                                </button>

                                <div class="custom-control custom-checkbox">
                                    {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'custom-control-input'}}) }}
                                    {{ form_label(registrationForm.agreeTerms, null, {'label_attr': {'class': 'custom-control-label'}}) }}
                                </div>
                            </div>

                            {{ form_end(registrationForm) }}

                            <div class="form-choice">
                                <p class="text-center">or sign in with</p>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}" class="btn btn-login btn-g">
                                            Login With Google
                                        </a>
                                    </div><!-- End .col-6 -->
                                    <div class="col-sm-6">
                                        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" class="btn btn-login  btn-f">
                                            Login With Facebook
                                        </a>
                                    </div><!-- End .col-6 -->
                                </div><!-- End .row -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
