{% extends 'admin/layout/layout_main.html.twig' %}

{% block title_detailed %}All Orders{% endblock %}

{% block body %}
    <div class="container-fluid">

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                {% include 'admin/embed/card/_header_action.html.twig' with {
                    'sectionTitle': 'Orders',
                    'actionUrl': path('admin_order_add')
                } %}
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Created At</th>
                            <th>Count of products</th>
                            <th>Total price</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orderList %}
                            <tr>
                                <td>{{ order.id }}</td>
                                <td>{{ order.createdAt|date('H:i:s d/m/Y') }}</td>
                                <td>{{ order.getOrderProducts.getValues()|length }}</td>
                                <td>{{ order.totalPrice|format_currency('USD') }}</td>
                                <td>{{ statusList[order.status] }}</td>
                                <td>
                                    <a href="{{ path('admin_order_edit', {'id': order.id}) }}" class="btn btn-outline-info">Edit</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
