<h1>Thank you for your purchase!</h1>

<p>
    Thank you for your purchase! Our manager will contact with you in 24 hours.
</p>

<h3>Order info:</h3>

<table>
    <thead>
    <tr>
        <td>#</td>
        <td>title</td>
        <td>quantity</td>
        <td>price</td>
    </tr>
    </thead>
    <tbody>
    {% for orderProduct in order.orderProducts %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ orderProduct.product.title }}</td>
            <td>{{ orderProduct.quantity }}</td>
            <td>{{ orderProduct.product.price }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<p>
    <strong>Promo code: {% if order.promoCode %}{{ order.promoCode.value }}{% else %}-{% endif %}</strong>
</p>
<p>
    <strong>Total price: {{ order.totalPrice }}</strong>
</p>

<h3>User info:</h3>

<table>
    <thead>
    <tr>
        <td></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>Id</td>
            <td>{{ order.owner.id }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ order.owner.email }}</td>
        </tr>
        <tr>
            <td>Full name</td>
            <td>{{ order.owner.fullName }}</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>{{ order.owner.phone }}</td>
        </tr>
    </tbody>
</table>
