{% extends 'base.html.twig' %}

{% block title %}{{ categoryModel.title }} - RankedChoice{% endblock %}
{% block page_keywords %}Jeans, Ranked Choice Homepage, Jackets{% endblock %}
{% block page_description %}Category page of RankedChoice shop!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('appMainCategoryShow') }}
{% endblock %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block javascripts %}
    <script>
        function addProductToCart(productData)
        {
            let cartJSON = localStorage.getItem('cart');
            let cart = cartJSON ? JSON.parse(cartJSON) : [];
            cart = cart.filter(item => {
                return item.id !== productData.id
            })
            cart.push({
                id: productData.id,
                title: productData.title,
                categoryName: productData.category.title,
                price: productData.price,
                image: productData.images.length
                    ? productData.images[0].filenameSmall
                    : null,
                quantity: 1
            })

            localStorage.setItem('cart', JSON.stringify(cart));
            window.vueMenuCartInstance.getProductsOfCart()
        }

        console.log(localStorage.getItem('cart'))
    </script>
    <script>
        if (typeof window.staticStore === 'undefined') {
            window.staticStore = {}
        }
        window.staticStore.offset = 0
        window.staticStore.limit = 4
        window.staticStore.selectedCategory = JSON.parse('{{ categoryModel|json_encode|raw }}')
        window.staticStore.urlProductShow = "{{ path('product_show_blank') }}"
        window.staticStore.urlAssetImageProducts = "{{ asset('uploads/images/products') }}"
        window.staticStore.urlGetCountOfProductsByCategory = "{{ path('product_get_count_of_products_by_category') }}"
        window.staticStore.urlGetProductsByCategory = "{{ path('product_get_products_by_category') }}"
        window.staticStore.addProductToCart = addProductToCart
    </script>
    {{ encore_entry_script_tags('appMainCategoryShow') }}
{% endblock %}
