{% extends 'base.html.twig' %}

{% block title %}{{ category.title }} - RankedChoice{% endblock %}
{% block page_keywords %}Jeans, Ranked Choice Homepage, Jackets{% endblock %}
{% block page_description %}Category page of RankedChoice shop!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('appMainCategoryShow') }}
{% endblock %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block javascripts %}
    <script>
        function addProductToCart(productData)
        {
            window.vueMenuCartInstance.addCartProduct({
              id: productData.id,
              quantity: 1
            })
        }
    </script>
    <script>
        if (typeof window.staticStore === 'undefined') {
            window.staticStore = {}
        }
        window.staticStore.categoryId = {{ category.id }}
        window.staticStore.urlProductShow = "{{ path('product_show_blank') }}"
        window.staticStore.urlAssetImageProducts = "{{ asset('uploads/images/products') }}"
        window.staticStore.urlAPICategory = "{{ path('api_categories_get_collection') }}"
        window.staticStore.urlAPICategoryProducts = "{{ path('api_products_get_collection') }}"
        window.addProductToCart = addProductToCart
    </script>
    {{ encore_entry_script_tags('appMainCategoryShow') }}
{% endblock %}
