<footer class="footer footer-2">
    <div class="footer-middle">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="widget-title">Useful links</h4>
                    <ul class="widget-list">
                        <li><a href="{{ path('shop_about') }}">About Shop</a></li>
                        <li><a href="{{ path('shop_contact_us') }}">Contact us</a></li>
                        <li><a href="{{ path('app_register') }}">Sign up</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 mt-3">
                    <h4 class="widget-title">My Account</h4>
                    <ul class="widget-list">
                        <li><a href="{{ path('security_login') }}">Sign In</a></li>
                        <li><a href="{{ path('cart_index') }}">View Cart</a></li>
                        <li><a href="{{ path('profile_index') }}">My profile</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 mt-3">
                    <p class="widget-copyright">Copyright © 2020 RankeeClothes Team. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
