<header class="header">
    <div class="container-fluid">
        <button class="mobile-menu-toggler">
            <i class="fas fa-bars"></i>
        </button>

        <a href="{{ path('shop_index') }}" class="logotype">
            <img src="{{ asset('build/images/icons/logo_366x79.svg') }}" alt="RankedChoice Logotype">
        </a>

        <nav class="main-nav">
            <ul class="menu">
                <li class="menu-item {% if ROUTE_NAME == "shop_index" %}active{% endif %}">
                    <a href="{{ path('shop_index') }}">
                        <div>Homepage</div>
                    </a>
                </li>
                {{ render(controller('App\\Controller\\EmbedController::menuCategories', {
                    'pageRoute': ROUTE_NAME,
                    'pageSlug': app.request.attributes.get('slug')
                })) }}
                <li class="menu-item">
                    {% if app.user %}
                        <a href="{{ path('profile_index') }}">My profile</a>
                    {% else %}
                        <a href="{{ path('security_login') }}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </nav>

        {{ include('embed/_menu_cart.html.twig') }}
    </div>
</header>
