{% extends 'main/emails/base.html.twig' %}

{% block content %}
    <row>
        <columns>
            <spacer size="35"></spacer>
            <h1>
                <center>
                    Thank you for your purchase!
                </center>
            </h1>
            <spacer size="10"></spacer>
        </columns>
    </row>
    <spacer size="30"></spacer>
    <row>
        <columns>
            <p>
                Thank you for your purchase! Our manager will contact with you in 24 hours.
            </p>
        </columns>
    </row>
    <row>
        <columns>
            <h2>
                <center>
                    Order info
                </center>
            </h2>
        </columns>
    </row>
    <row>
        <columns>
            <table class="data-table">
                <thead>
                <tr>
                    <td>#</td>
                    <td>title</td>
                    <td>quantity</td>
                    <td>price</td>
                </tr>
                </thead>
                <tbody>
                {% for orderProduct in order.orderProducts %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ orderProduct.product.title }}</td>
                        <td>{{ orderProduct.quantity }}</td>
                        <td>{{ orderProduct.product.price }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <spacer size="30"></spacer>
            <p>
                <strong>Promo code: {% if order.promoCode %}{{ order.promoCode.value }}{% else %}-{% endif %}</strong>
            </p>
            <p>
                <strong>Total price: {{ order.totalPrice }}</strong>
            </p>
        </columns>
    </row>
    <row>
        <columns>
            <a href="{{ homepageUrl }}" target="_blank">
                Visit our homepage.
            </a>
        </columns>
    </row>
{% endblock %}
