{% extends 'base.html.twig' %}

{% block title %}Hello ShopController!{% endblock %}
{% block page_keywords %}Jeans, Ranked Choice Homepage, Jackets{% endblock %}
{% block page_description %}Main page of RankedChoice shop!{% endblock %}

{% block body %}

        <div class="page-content mt-3">
            <div class="container">
                <div class="product-details-top mb-2">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="product-gallery">
                                <figure class="product-main-image">
                                    {% for image in productModel.images %}
                                        <img id="product-zoom"
                                             src="{{ asset('uploads/images/products/' ~ product.id ~ '/' ~ image.getFilenameBig()) }}" alt="{{ product.title }}"
                                             data-zoom-image="{{ asset('uploads/images/products/' ~ product.id ~ '/' ~ image.getFilenameBig()) }}"
                                             class="product-image">
                                    {% endfor %}
                                </figure>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="product-details">
                                <h1 class="product-title gradient-heading1">{{ product.title }}</h1>

                                <div class="product-price">
                                    ${{ product.price }}
                                </div>

                                <div class="product-content">
                                    <p>{{ product.description }}</p>
                                </div>

                                <div style="display: flex;">
                                    <div class="details-filter-row details-row-size">
                                        <label for="size">Size:</label>
                                        <div class="select-custom">
                                            <select name="size" id="size" class="form-control">
                                                <option value="#" selected="selected">Select a size</option>
                                                {% for key, value in productSizeChoice %}
                                                    <option value="{{ key }}">{{ value }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="details-filter-row details-row-size">
                                        <label for="qty">Qty:</label>
                                        <div class="product-details-quantity">
                                            <input type="number" id="qty" class="form-control" value="{{ product.quantity }}" min="1" max="10" step="1" data-decimals="0" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-details-action">
                                    <a href="#" class="btn btn-link btn-dark">
                                        <i class="fas fa-cart-plus"></i>
                                        <span>add to cart</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <h2 class="title text-center mt-4">Similar Products</h2>
                    <div class="row">
                        <div class="col-lg-12">
                            {{ render(controller('App\\Controller\\EmbedController::similarProducts', {
                                'count': 4,
                                'categoryId': product.category.id
                            })) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
