<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>{% block title %}RankedChoice - Shop Of Best Clothes{% endblock %}</title>
        <meta name="keywords" content="{% block page_keywords %}clothes, jackets, jeans{% endblock %}">
        <meta name="description" content="{% block page_description %}clothes, jackets, jeans{% endblock %}">
        <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/icons/favicon.ico') }}" />
        <!-- Plugins CSS File -->
        <link rel="stylesheet" href="{{ asset('assets/css/libs/bootstrap/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/libs/owl-carousel/owl.carousel.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/libs/magnific-popup/magnific-popup.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/libs/jquery-countdown/jquery.countdown.css') }}">
        <!-- Main CSS File -->
        <link rel="stylesheet" href="{{ asset('assets/css/section/main/core.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/section/main/default_theme.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <div class="page-wrapper">
            {% block header %}
                <header class="header header-7">
                    <div class="header-middle sticky-header">
                        <div class="container-fluid">
                            <div class="header-left">
                                <button class="mobile-menu-toggler">
                                    <span class="sr-only">Toggle mobile menu</span>
                                    <i class="icon-bars"></i>
                                </button>

                                <a href="{{ path('shop_index') }}" class="logo">
                                    <img src="{{ asset('assets/images/icons/logo_366x79.svg') }}" alt="Molla Logo" width="366" height="79">
                                </a>

                                <nav class="main-nav">
                                    <ul class="menu sf-arrows">
                                        <li class="megamenu-container active">
                                            <a href="{{ path('shop_index') }}" class="sf-with-ul">Homepage</a>
                                        </li>
                                        {{ render(controller('App\\Controller\\EmbedController::menuCategories')) }}
                                    </ul>
                                </nav>
                            </div>

                            <div class="header-right">
                                <div class="dropdown cart-dropdown">
                                    {% if app.user %}
                                        <a href="{{ path('profile_index') }}"><i class="icon-user"></i>My profile</a>
                                    {% else %}
                                        <a href="{{ path('security_login') }}"><i class="icon-user"></i>Login</a>
                                    {% endif %}
                                </div>

                                {{ include('embed/_menu_cart.html.twig') }}
                                <!-- End .cart-dropdown -->
                            </div><!-- End .header-right -->
                        </div><!-- End .container-fluid -->
                    </div><!-- End .header-middle -->
                </header>
            {% endblock %}

            <main class="main">
                {% block body %}
                {% endblock %}
            </main>

            {% block footer %}
                <footer class="footer footer-2">
                    <div class="footer-middle">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12 col-lg-4">
                                    <div class="widget widget-about">
                                        <img src="assets/images/demos/demo-7/logo-footer.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
                                        <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus. </p>

                                        <div class="widget-about-info">
                                            <div class="row">
                                                <div class="col-sm-6 col-md-4">
                                                    <span class="widget-about-title">Got Question? Call us 24/7</span>
                                                    <a href="tel:123456789">+0123 456 789</a>
                                                </div><!-- End .col-sm-6 -->
                                                <div class="col-sm-6 col-md-8">
                                                    <span class="widget-about-title">Payment Method</span>
                                                    <figure class="footer-payments">
                                                        <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
                                                    </figure><!-- End .footer-payments -->
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->
                                        </div><!-- End .widget-about-info -->
                                    </div><!-- End .widget about-widget -->
                                </div><!-- End .col-sm-12 col-lg-4 -->

                                <div class="col-sm-4 col-lg-2">
                                    <div class="widget">
                                        <h4 class="widget-title">Useful links</h4><!-- End .widget-title -->

                                        <ul class="widget-list">
                                            <li><a href="about.html">About Molla</a></li>
                                            <li><a href="#">How to shop on Molla</a></li>
                                            <li><a href="faq.html">FAQ</a></li>
                                            <li><a href="contact.html">Contact us</a></li>
                                            <li><a href="login.html">Log in</a></li>
                                        </ul><!-- End .widget-list -->
                                    </div><!-- End .widget -->
                                </div><!-- End .col-sm-4 col-lg-2 -->

                                <div class="col-sm-4 col-lg-2">
                                    <div class="widget">
                                        <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                        <ul class="widget-list">
                                            <li><a href="#">Payment Methods</a></li>
                                            <li><a href="#">Money-back guarantee!</a></li>
                                            <li><a href="#">Returns</a></li>
                                            <li><a href="#">Shipping</a></li>
                                            <li><a href="#">Terms and conditions</a></li>
                                            <li><a href="#">Privacy Policy</a></li>
                                        </ul><!-- End .widget-list -->
                                    </div><!-- End .widget -->
                                </div><!-- End .col-sm-4 col-lg-2 -->

                                <div class="col-sm-4 col-lg-2">
                                    <div class="widget">
                                        <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                        <ul class="widget-list">
                                            <li><a href="#">Sign In</a></li>
                                            <li><a href="cart.html">View Cart</a></li>
                                            <li><a href="#">My Wishlist</a></li>
                                            <li><a href="#">Track My Order</a></li>
                                            <li><a href="#">Help</a></li>
                                        </ul><!-- End .widget-list -->
                                    </div><!-- End .widget -->
                                </div><!-- End .col-sm-4 col-lg-2 -->

                                <div class="col-sm-6 col-lg-2">
                                    <div class="widget widget-newsletter">
                                        <h4 class="widget-title">Sign up to newsletter</h4><!-- End .widget-title -->

                                        <p>Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan.</p>

                                        <form action="#">
                                            <div class="input-group">
                                                <input type="email" class="form-control" placeholder="Enter your Email Address" aria-label="Email Adress" required>
                                                <div class="input-group-append">
                                                    <button class="btn btn-dark" type="submit"><i class="icon-long-arrow-right"></i></button>
                                                </div><!-- .End .input-group-append -->
                                            </div><!-- .End .input-group -->
                                        </form>
                                    </div><!-- End .widget -->
                                </div><!-- End .col-sm-6 col-lg-2 -->
                            </div><!-- End .row -->
                        </div><!-- End .container-fluid -->
                    </div><!-- End .footer-middle -->

                    <div class="footer-bottom">
                        <div class="container-fluid">
                            <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p><!-- End .footer-copyright -->
                            <ul class="footer-menu">
                                <li><a href="#">Terms Of Use</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul><!-- End .footer-menu -->

                            <div class="social-icons social-icons-color">
                                <span class="social-label">Social Media</span>
                                <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                <a href="#" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                                <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                            </div><!-- End .soial-icons -->
                        </div><!-- End .container-fluid -->
                    </div><!-- End .footer-bottom -->
                </footer>
            {% endblock %}
        </div>

        <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

        {% block javascripts %}{% endblock %}
    </body>
</html>
