{{ encore_entry_link_tags('appMainCategoryShow') }}
<div id="appMenuCart"></div>

<script>

    if (typeof window.staticStore === 'undefined') {
        window.staticStore = {}
    }
    window.staticStore.urlCart = "{{ path('api_carts_post_collection') }}";
    window.staticStore.urlCartProduct = "{{ path('api_cart_products_post_collection') }}";
    window.staticStore.urlCartIndex = "{{ path('cart_index') }}"
    window.staticStore.urlProductShow = "{{ path('product_show_blank') }}"
    window.staticStore.urlAssetImageProducts = "{{ asset('uploads/images/products') }}"

    function addProductToCartComponent(id)
    {
        const idNum = parseInt(id);

        let cartJSON = localStorage.getItem('cart');
        const cart = cartJSON ? JSON.parse(cartJSON) : {};
        const product = productsModel.find(function(item) {
            return (item.id === idNum);
        })
        if (product) {
            if (cart[product.id] !== undefined) {
                cart[product.id] = product;
                cart[product.id]['quantity'] += 1;
            } else {
                cart[product.id] = product;
                cart[product.id]['quantity'] = 1;
            }
        }

        localStorage.setItem('cart', JSON.stringify(cart));
    }
</script>
{{ encore_entry_script_tags('appMenuCart') }}
