<footer class="footer">
    <div class="footer-middle">
        <div class="container-fluid">
            <div class="row">
                {% if saleCollectionList|length %}
                    <div class="col-sm-12">
                        <h4 class="widget-title">Sale collections</h4>
                        <ul class="widget-list">
                            {% for saleCollection in saleCollectionList %}
                                <li>
                                    <a href="{{ path('sale_collection_show', {'slug': saleCollection.slug}) }}">{{ saleCollection.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="col-sm-12 mt-3">
                    <h4 class="widget-title">Useful links</h4>
                    <ul class="widget-list">
                        <li>
                            <a href="{{ path('shop_index') }}">Homepage</a>
                        </li>
                        <li>
                            <a href="{{ path('app_registration') }}">Sign up</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12 mt-3">
                    <h4 class="widget-title">My Account</h4>
                    <ul class="widget-list">
                        <li>
                            <a href="{{ path('security_login') }}">Sign in</a>
                        </li>
                        <li>
                            <a href="{{ path('cart_index') }}">View cart</a>
                        </li>
                        <li>
                            <a href="{{ path('profile_index') }}">My profile</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12 mt-3">
                    <h4 class="widget-title">Change language</h4>
                    <ul class="widget-list">
                        <li>
                            <a href="{{ path('shop_index', {_locale: 'en'}) }}">{{ 'en'|locale_name('en')|u.title }}</a>
                        </li>
                        <li>
                            <a href="{{ path('shop_index', {_locale: 'fr'}) }}">{{ 'fr'|locale_name('fr')|u.title }}</a>
                        </li>
                        <li>
                            <a href="{{ path('shop_index', {_locale: 'ru'}) }}">{{ 'ru'|locale_name('ru')|u.title }}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12 mt-3">
                    <p class="widget-copyright">Copyright © 2020 RankeeClothes Team. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
